/*
body{
    font-size: 14px ;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    background-color: #f8f9fa !important;
}
.form-control{
    width: 400px !important;
}
h1{
    color: #69A038 !important;
}
h2{
   color: #424242;
    font-weight: bold !important;
}
h5{
    font-size: 14px !important;
}
a{
    color: #424242 !important;
    font-weight: bold;
}
.main{
    margin: 0 !important;
    max-width: 100% !important;
}
.secondNavBar>.container>a{
    padding: 10px;
    max-width: 100%;
    font-size: 10px;
}
.header>img{
    width: 120px;
    height: 120px;
}
.footercard>img{
    width: 200px;
    height: 200px;
}
.centered{
    text-align: center;
}
.navbarMenu>.container>a{
    color: #000 !important;
    font-weight: bold;
    font-size: 10px;
}*/
.logoHeader{
    width: 25px;
    height:25px;


}
/*
.logoHeaderUniflor {
    width: 80px;
    height: 80px;
    padding-left: 5px !important;
    padding-top: 5px !important;
}
.header{
    max-width: 100%;
    height: 100%;
    padding: 0 !important;
}
.imagehome{
    background-image: url("/web/images/site/champmuguetclair25PC.png");
    position: absolute !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.header>h1{
    color:#69a038 !important;
}
.py-2>img{
    color: #000;
}
*/
.iconImage, .iconImageKart, .iconImageUser{
    width: 29px;
    height: 29px;

}
/*
li{
    list-style: none;
    font-size: 12px;
    padding: 8px;
}
.titleSection{
    padding: 20px;
    color: #69a038;
    border-radius: 0 !important;
    border: solid 1px #69a038 !important;
}
h3{
    font-family: 'Roboto', sans-serif;
    width: 70px;
    display: inline-block;
}
.productimage{
    height: 50px;
}
.sectionOffre{
    border-radius: 0 !important;
    border: solid 1px #69a038!important;
    padding: 50px;
}
.logoNav,.logoNavSegond{
    width: 30px;
    height: 30px;
}
.promos{
    background-color: #FFFF00 !important;
}
.homeMenu{
    display: none;
    color: #689F38;
}
.secondNavBar{
    background-color: #fff;
}
.secondNavBarActive{
    font-weight: bold;
}
.navSecond{
    border: solid 1px #69a038;
    height: 100%;
}
.row{
    background-color: #fff;
}
.row>.navFooter{
    background-color: #fff;
    border: solid 1px #69A038;
    width: 500px;
    margin: 0 auto;
    height: 50px;
}
.row>.text-center{
    display: block;
}
.contactUs{
    border: solid 1px  #69a038 ;
}
.col-sm-3> .footercard{
    border: 0 !important;
    padding-top: 40px !important;
}
h2,.logoFooterNetwork{
    display: inline-block;
    font-weight: initial;
}
.follow{
    padding-top: 20px;
}
.follow>h2{
    margin-left: 30px;
}
.logoFooterNetwork{
    width: 30px !important;
    height: 30px !important;
    margin-right: 20px;
    margin-top: 10px;
    float: right;
}
.logoImgFooter{
    width: 120px;
    height:120px;
    margin-left: 50px;
    margin-top: -120px;
}
.paragraFooter{
    text-align: center;
}
.h2Footer{
    margin-left: 0;
}
.footerPrincipal{
    display: block;
}
.footerSecondaire{
   display: block !important;
   margin: 0 auto !important;
   color: #69a038;
   font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px #ccc;
}
.logoFooter{
    width: 20px;
    height: 20px;
}
span{
    font-size: 16px;
    color: #69a038;
    font-weight: bold;
    margin-left: 220px;
    margin-top: -5px;
}
*/
#roadname,#additionaladdress
{
    width: 100%;

}