{% extends 'admin/dashboard.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    {{ include('service/listBody.html.twig') }}

    <a class="btn btn-outline-success" href="{{ path('service_add') }}">Create new</a>
{% endblock %}