{% extends 'base.html.twig' %}

{% block title %}Offer Liste des Offres {% endblock %}

{% block body %}
    <h1>Les offres</h1>

    {% include 'offer/listBodyClientView.html.twig' %}


{% endblock %}