{% extends 'base.html.twig' %}
        {% block title %}
            Les Fleurs du Male
        {% endblock %}
        {% block body %}
            <h3 class="centered">Planning du 04/04/2019</h3>
            <table class="table ">
                <tr>
                    <th class="largeur30">heure</th>
                    <th class="largeur150">livreur1</th>
                    <th class="largeur10"></th>
                    <th class="largeur150">livreur2</th>
                    <th class="largeur10"></th>
                    <th class="largeur150">livreur3</th>
                    <th class="largeur10"></th>
                </tr>
                <tbody>
                <tr >
                    <td class="hauteur50 ">9H00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hauteur50 ">9H30</td>
                    <td>2 roses<br>9 Parc du donjon<br>91700<br>sainte-Geneviève-des-Bois</td>
                    <td><div><button class="btn btn-primary">livree</button></div><br><div><button class="btn btn-primary">payee</button></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hauteur50 ">10H00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1 panier<br>2 rue Albe<br>13004<br>Marseille</td>
                    <td><div><button class="btn btn-primary">livree</button></div><br><div><button class="btn btn-primary">payee</button></div></td>
                </tr>
                <tr>
                    <td class="hauteur50 ">10H30</td>
                    <td></td>
                    <td></td>
                    <td>1 couronne<br>23 rue du Puyo<br>65440<br>Ancizan</td>
                    <td><div><button class="btn btn-primary">livree</button></div><br><div><button class="btn btn-primary">payee</button></div></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hauteur50 ">11H00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hauteur50 ">11H30</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hauteur50 ">12H00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hauteur50 ">12H30</td>
                    <td>2 compositions<br>14 Bis rue Hoche<br>91700<br>Sainte-Genevieve-des-Bois</td>
                    <td><div><button class="btn btn-primary">livree</button></div><br><div><button class="btn btn-primary">payee</button></div></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script type="application/javascript" src="{{ asset('web/js/planning.js') }}">

            </script>
        {% endblock %}