{% extends 'admin/dashboard.html.twig' %}
{% block title %}
Produits
   {% endblock %}
{% block body %}
<h1 class="centered" >Liste des produits</h1>
   {% include 'product/listBody.html.twig' %}

{% endblock %}