{% extends 'admin/dashboard.html.twig' %}
{% block title %}
Produits
   {% endblock %}
{% block body %}
<h1 class="centered" >Liste des produits</h1>
   {% include 'product/listBody.html.twig' %}
   <a class="btn btn-primary text-white" href="/admin/product/add">créer un nouveau produit</a>
{% endblock %}