{% extends 'admin/dashboard.html.twig' %}{% block title %}
    creation type produit
{% endblock %}
{% block body %}
    <h1 class="centered">création type produit</h1>
{{ form_start(form)}}

{{ form_widget(form) }}

{{ form_end(form) }}
{% endblock %}