{% extends 'base.html.twig' %}
{% block title %}
    <title>Liste des commandes</title>
{% endblock %}
{% block body %}
    <h1 class="text-center">Historique des commandes</h1>
{% include 'sale/listBody.html.twig' %}
{% endblock %}