{% extends 'base.html.twig' %}
{% block title %}
    Liste des commandes
{% endblock %}
{% block body %}
    <h1 class="text-center">Historique des commandes</h1>
{% include 'sale/listBodyClientView.html.twig' %}
{% endblock %}