<table class="table">
    <tr class="centered">
        <th>departement</th>
        <th>ville</th>
    </tr>
    <tr>
        <td>
            <select id="departement" onchange="requestCities()">
                <option value=null>choisir un departement</option>
            </select>
        </td>
        <td>
            <select id="cityOptions" name="inseeid">
                <option value="-1">choisir une ville</option>
            </select>
        </td>

    </tr>
</table>