{% extends 'base.html.twig' %}
{% block title %}
    contacter administrateur
{% endblock %}
{% block body %}
    <h1 class="centered">contacter administrateur</h1>
{{ form_start(form)}}

{{ form_widget(form) }}

{{ form_end(form) }}
{% endblock %}