{% extends 'base.html.twig' %}
{% block stylesheets %} {{ parent()}}
    <link rel="stylesheet" href="{{ '/web/css/home.css' }}">
{% endblock %}
{% block body %}
    <h2 class="text-center">Produits</h2>
    {% include 'product/listBodyClientView.html.twig' %}
    <h2 class="text-center">Services</h2>
    {% include 'service/listBodyClientView.html.twig' %}
    <h2 class="text-center">Offres</h2>
    {% include 'offer/listBodyClientView.html.twig' %}
{% endblock %}