{% extends 'admin/dashboard.html.twig' %}
{% block stylesheets %} {{ parent()}}
    <link rel="stylesheet" href="{{ '/web/css/home.css' }}">
{% endblock %}
{% block body %}
<h2 class="text-center">Produits</h2>
{% include 'product/listBody.html.twig' %}
<h2 class="text-center">Services</h2>
{% include 'service/listBody.html.twig' %}
<h2 class="text-center">Offres</h2>
{% include 'offer/listBody.html.twig' %}
{% endblock %}